@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9843 0.0017 247.8393);
  --foreground: oklch(0.2586 0.0207 264.1164);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2586 0.0207 264.1164);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2586 0.0207 264.1164);
  --primary: oklch(0.7214 0.1216 209.7277);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9239 0.0043 228.8114);
  --secondary-foreground: oklch(0.2586 0.0207 264.1164);
  --muted: oklch(0.9613 0.0022 247.8448);
  --muted-foreground: oklch(0.556 0.011 229.0201);
  --accent: oklch(0.7128 0.1526 57.0064);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6065 0.2184 26.7425);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9064 0.0053 247.883);
  --input: oklch(0.9379 0.0035 247.8606);
  --ring: oklch(0.7214 0.1216 209.7277);
  --chart-1: oklch(0.7214 0.1216 209.7277);
  --chart-2: oklch(0.7128 0.1526 57.0064);
  --chart-3: oklch(0.7412 0.1399 144.0032);
  --chart-4: oklch(0.727 0.0699 307.3911);
  --chart-5: oklch(0.864 0.1434 90.5128);
  --sidebar: oklch(0.9849 0.0009 228.7608);
  --sidebar-foreground: oklch(0.2586 0.0207 264.1164);
  --sidebar-primary: oklch(0.6612 0.1111 209.6377);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.671 0.1489 56.2119);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.8853 0.0066 228.8475);
  --sidebar-ring: oklch(0.7214 0.1216 209.7277);
  --font-sans: "Inter", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.1rem;
  --shadow-blur: 0.4rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.08;
  --shadow-color: hsl(220, 20%, 15%);
  --shadow-2xs: 0rem 0.1rem 0.4rem 0rem hsl(220 20% 15% / 0.04);
  --shadow-xs: 0rem 0.1rem 0.4rem 0rem hsl(220 20% 15% / 0.04);
  --shadow-sm: 0rem 0.1rem 0.4rem 0rem hsl(220 20% 15% / 0.08),
    0rem 1px 2px -1px hsl(220 20% 15% / 0.08);
  --shadow: 0rem 0.1rem 0.4rem 0rem hsl(220 20% 15% / 0.08),
    0rem 1px 2px -1px hsl(220 20% 15% / 0.08);
  --shadow-md: 0rem 0.1rem 0.4rem 0rem hsl(220 20% 15% / 0.08),
    0rem 2px 4px -1px hsl(220 20% 15% / 0.08);
  --shadow-lg: 0rem 0.1rem 0.4rem 0rem hsl(220 20% 15% / 0.08),
    0rem 4px 6px -1px hsl(220 20% 15% / 0.08);
  --shadow-xl: 0rem 0.1rem 0.4rem 0rem hsl(220 20% 15% / 0.08),
    0rem 8px 10px -1px hsl(220 20% 15% / 0.08);
  --shadow-2xl: 0rem 0.1rem 0.4rem 0rem hsl(220 20% 15% / 0.2);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2077 0.0145 264.1874);
  --foreground: oklch(0.921 0.0088 247.9219);
  --card: oklch(0.2586 0.0207 264.1164);
  --card-foreground: oklch(0.921 0.0088 247.9219);
  --popover: oklch(0.2586 0.0207 264.1164);
  --popover-foreground: oklch(0.921 0.0088 247.9219);
  --primary: oklch(0.7503 0.1081 207.5004);
  --primary-foreground: oklch(0.2586 0.0207 264.1164);
  --secondary: oklch(0.3671 0.0139 248.2062);
  --secondary-foreground: oklch(0.921 0.0088 247.9219);
  --muted: oklch(0.3182 0.0115 248.1899);
  --muted-foreground: oklch(0.6804 0.0095 247.9674);
  --accent: oklch(0.7312 0.1237 60.1308);
  --accent-foreground: oklch(0.2586 0.0207 264.1164);
  --destructive: oklch(0.5714 0.2121 27.2502);
  --destructive-foreground: oklch(0.921 0.0088 247.9219);
  --border: oklch(0.4144 0.0162 248.2179);
  --input: oklch(0.3671 0.0139 248.2062);
  --ring: oklch(0.7503 0.1081 207.5004);
  --chart-1: oklch(0.7503 0.1081 207.5004);
  --chart-2: oklch(0.7312 0.1237 60.1308);
  --chart-3: oklch(0.6077 0.123 143.8773);
  --chart-4: oklch(0.555 0.0824 306.7799);
  --chart-5: oklch(0.7899 0.1569 87.1094);
  --sidebar: oklch(0.2284 0.017 264.1547);
  --sidebar-foreground: oklch(0.921 0.0088 247.9219);
  --sidebar-primary: oklch(0.7269 0.1135 208.2068);
  --sidebar-primary-foreground: oklch(0.2586 0.0207 264.1164);
  --sidebar-accent: oklch(0.6889 0.1205 59.8333);
  --sidebar-accent-foreground: oklch(0.2586 0.0207 264.1164);
  --sidebar-border: oklch(0.3576 0.0238 264.2114);
  --sidebar-ring: oklch(0.7503 0.1081 207.5004);
  --font-sans: "Inter", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.1rem;
  --shadow-blur: 0.4rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.25;
  --shadow-color: hsl(0, 0%, 0%);
  --shadow-2xs: 0rem 0.1rem 0.4rem 0rem hsl(0 0% 0% / 0.13);
  --shadow-xs: 0rem 0.1rem 0.4rem 0rem hsl(0 0% 0% / 0.13);
  --shadow-sm: 0rem 0.1rem 0.4rem 0rem hsl(0 0% 0% / 0.25),
    0rem 1px 2px -1px hsl(0 0% 0% / 0.25);
  --shadow: 0rem 0.1rem 0.4rem 0rem hsl(0 0% 0% / 0.25),
    0rem 1px 2px -1px hsl(0 0% 0% / 0.25);
  --shadow-md: 0rem 0.1rem 0.4rem 0rem hsl(0 0% 0% / 0.25),
    0rem 2px 4px -1px hsl(0 0% 0% / 0.25);
  --shadow-lg: 0rem 0.1rem 0.4rem 0rem hsl(0 0% 0% / 0.25),
    0rem 4px 6px -1px hsl(0 0% 0% / 0.25);
  --shadow-xl: 0rem 0.1rem 0.4rem 0rem hsl(0 0% 0% / 0.25),
    0rem 8px 10px -1px hsl(0 0% 0% / 0.25);
  --shadow-2xl: 0rem 0.1rem 0.4rem 0rem hsl(0 0% 0% / 0.63);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-plus-jakarta-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
